body
{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    background: url("img/qbkls.png") repeat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #292929;
}


.container 
{
    position: absolute;
    width: 1032px;
    height: 586px;
    left: 444px;
    top: 167px;
}

.rectangle
{
    position: absolute;
    width: 1032px;
    height: 586px;
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.rectangle2
{
    position: absolute;
    width: 1032px;
    height: 305px;

    background: #E04B54;
    border-radius: 16px 16px 0px 0px;
}

.rectangle21
{
    position: absolute;
    width: 1032px;
    height: 305px;

    background: url(img/Rectangle21.png);
    border-radius: 16px 16px 0px 0px;
}

.main
{
    position: absolute;
    margin-top: 352px;
    width: 630px;
    height: 130px;
    left: 48px;
    top: 405.08;
}

.aboutme
{
    position: absolute;

    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    
    color: #000000;
}

.lorem
{
    margin-top: 49px;
    position: absolute;
    width: 630px;
    height: 130px;
    left: 0;
    top: 0;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    
    color: #666666;
}

.button
{
    position: absolute;
    width: 176px;
    height: 40px;
    left: 48px;
    top: 510px;    
    
    border: 1px solid #E04B54;
    box-sizing: border-box;
    border-radius: 4px;
}

.buttonstyle
{
    position: absolute;
    width: 144px;
    height: 22px;
    left: 16px;
    top: 9px; 

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    font-size: 14px;

    color: #E04B54;
}

.image
{
    position: absolute;
    width: 280px;
    height: 280px;
    left: 48px;
    top: 48px;
    box-sizing: border-box;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.center
{
    position: absolute;
    width: 264px;
    height: 169px;
    left: 992px;
    top: 258px;  
}

.header
{
    
    position: absolute;
    width: 264px;
    height: 97px;
    left: 567px;
    top: 91px;
}

.janedoe
{
    position: absolute;
    width: 264px;
    height: 66px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 54px;
    
    color: #FFFFFF;
}

.frontend
{
    position: absolute;
    width: 227px;
    height: 29px;
    top: 66px;
    left: 18.5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 24px;

    
    color: #FFFFFF;
}
/** cos nie tak..
.socials
{
    position: absolute;
    width: 208px;
    height: 40px;
    left: 576px;
    top: 220px;

}

.social
{
    position: absolute;
    width: 40px;
    height: 40px;
}

.ellipse
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
**/

.data
{
    
    position: absolute;
    width: 258px;
    height: 124px;
    left: 726px;
    top: 391px;
}

.bold
{
    float: left;
    left: 50px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    
    color: #292929;
}

.normal
{
    float: left;
    left: 79px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;

color: #666666;
}