body
{
    font-family: 'Raleway', sans-serif;
    background: url("img/background.png") repeat;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    color: #666666;
    margin: 0;
}

.main
{
    position: relative;
    width: 1920px;
    height: 1080px;
}

.card
{
    position: absolute;
    width: 1032px;
    height: 586px;
    left: 444px;
    top: 167px;
}

.rectangle
{

    height: 586px;
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}


.rectangle2-1
{
    height: 305px;
    background: url(img/rctngl21.png) #E04B54;
    border-radius: 16px 16px 0px 0px;
}

.image
{
    position: absolute;
    width: 280px;
    height: 280px;
    left: 48px;
    top: 48px;
    background: url(img/image.png);
    box-sizing: border-box;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.button
{
    position: absolute;
    width: 176px;
    height: 40px;
    left: 48px;
    top: 510px;
    border: 1px solid #E04B54;
    box-sizing: border-box;
    border-radius: 4px;
}

.button-text
{
    position: absolute;
    width: 144px;
    height: 22px;
    left: 16px;
    top: 9px;   
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    font-size: 14px;
    color: #E04B54;  
}

.about-me
{
    position: absolute;
    width: 630px;
    height: 130px;
    left: 48px;
    top: 352px; 
}

.about-me-title
{  
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #000000;
}

.about-me-text
{
    position: absolute;
    top: 39px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #666666;
}

.center
{
    position: absolute;
    width: 264px;
    height: 169px;
    left: 548px;
    top: 91px;
}

.name
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 54px;   
    color: #FFFFFF;
}

.profession
{
    position: absolute;
    left: 19px;
    top: 68px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    color: #FFFFFF;
}

.center-socials
{
    position: absolute;
    height: 40px;
    left: 28px;
    top: 129px;
    display: flex; 
    justify-content: center; 
}

a {
    color: #fff; 
    outline: 0; 
    text-decoration: none; 
  }

.social 
{
    transition: all 0.3s ease-in-out; 
    border-radius: 100%; 
    border: solid 1px #fff; 
    width: 40px; 
    height: 40px; 
    margin: 0 5px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.social:hover
{
    cursor: pointer; 
    background-color: rgba(255, 255, 255, 0.175); 
}

.social a
{
    cursor: pointer; 
}

.data
{
    position: absolute;
    width: 258px;
    height: 124px;
    left: 726px;
    top: 391px;
}

.bold
{
    float: left;
    left: 50px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;   
    color: #292929;
}

.normal
{
    float: left;
    left: 79px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #666666;
}